.password-reset-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
  }
  
  .password-reset-form {
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    width: 80%;
    max-width: 300px;
  }
  
  .password-reset-form input,
  .password-reset-form button {
    display: block;
    width: calc(100% - 24px);
    margin: 12px auto;
    padding: 12px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .password-reset-form input:focus,
  .password-reset-form button:focus {
    outline: none;
    border-color: #4d90fe;
  }
  
  .password-reset-form button {
    background-color: #4d90fe;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
  }
  
  .password-reset-form button:hover {
    background-color: #357ae8;
  }
  
  .password-reset-form a {
    display: block;
    margin-top: 10px;
    color: #4d90fe;
    text-decoration: none;
    font-size: 14px;
  }
  
  .password-reset-form a:hover {
    text-decoration: underline;
  }
  